{% extends "groceries_data/base.html"%}

{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{% block title %}Products{% endblock %}

{% block nav_home %} active {% endblock %}

{% block main %}
    <h1>Data on products</h1>
    <table class="table table-hover" style="overflow-x:scroll;">
      <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Size</th>
          <th scope="col">Unit</th>
          <th scope="col">Money Spent</th>
          <th scope="col">Purchase Date</th>
          <th scope="col">Store Name</th>
          <th scope="col">Location</th>
        {% if user.is_authenticated %}
          <th scope="col">Update </th>
          <th scope="col">Delete </th>
        {% endif %}
        </tr>
      </thead>
      <tbody>
    {% for grocery in page_obj.object_list %}
        <tr>
          <td>{{grocery.product_name}}</td>
          <td>{{grocery.quantity}}</th>
          <td>{{grocery.size}}</th>
          <td>{{grocery.unit}}</td>
          <td>{{grocery.money_spent}}</td>
          <td>{{grocery.purchase_date}}</td>
          <td>{{grocery.store_name}}</td>
          <td>{{grocery.location}}</td>
          {% if user.id == grocery.uploader.id %}
            <td><a href="{% url 'update_info' grocery.id %}" class="btn btn-primary" role="button">Update</a>
            <td><a href="{% url 'delete_info' grocery.id %}" class="btn btn-danger" role="button">Delete</a>
          {% endif %}
        </tr>
    {% endfor%}
      </tbody>
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %} {# whether the previous page exists #}
          <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
        {% endif %}
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="#">{{page_obj.number}}</a></li>
        {% if page_obj.has_next %} 
          <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
        {% endif %}
          {% if page_obj.has_next %} {# whether the next page exists #}
          <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
{% endblock %}
 